# Put your MCU and camera paths here

# Example MCU path for my printer (CHANGE THIS)
MCU_1_DEVICE=/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
MCU_2_DEVICE=/dev/null
MCU_3_DEVICE=/dev/null
MCU_4_DEVICE=/dev/null

# Example camera path for my USB webcam (CHANGE THIS)
CAMERA_1_DEVICE=/dev/video0
CAMERA_2_DEVICE=/dev/null
CAMERA_3_DEVICE=/dev/null
CAMERA_4_DEVICE=/dev/null

